.badge {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 999px;
  text-align: center;
}
.badge-info {
  background: #0dcaf0;
  color: white;
}
.badge-warning {
  background: #ffc107;
  color: black;
}
.badge-success {
  background: #198754;
  color: white;
}
