
:root{
  --button-bg: #007bff;
  --button-hover: #0056b3;
  --button-hover: #0056b3;
  --button-disabled: #d6d6d6;
}
.dark{
  --border: #333;
  --button-bg: #3399ff;
  --button-hover: #66b3ff;
  --button-disabled: #444;
}


.btn-error:hover:enabled {
  background-color: #c82333;
}


.btn-success:hover:enabled {
  background-color: #218838;
}


button:disabled{
  background-color: var(--button-disabled);
  cursor: not-allowed;
}


