.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  z-index: 3;
}
.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  max-width: 400px;
  color: #1e1e1e;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  background: white;
  border: 1px solid #ccc;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.btn-modal{
border:none;
border-radius:8px;
background-color: var(--button-bg);
padding: 1rem;

}
.btn-modal:hover{
  background-color: var(--button-hover);
}

:root{
  --button-bg: #007bff;
  --button-hover: #0056b3;
}
