.progressbar {
  background: #eee;
  height: 1rem;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  
}
.progressbar-fill {
  background: #0d6efd !important;
  height: 100%;
  transition: width 0.3s ease;
}
